.search1{
    color: var(--textcolor);
    background-color: var(--bg);
}
.sidemenu{
    color: var(--textcolor);
}
.details{
    overflow-y: scroll;
    height: 100vh;

}
.sidebar{
    background-color: var(--sidemenu);
}
.page{
    background-color: var(--page);
}