.dark-theme{
    --bg: #2a4365;
    --textcolor: #fff;
    --hovertextcolor: #dbd8d8;
    --body:#6c7e97;
    --sidemenu:#4b5c74; 
    --page:#6c7e97;
    --video-btn:#2a4365
}
.light-theme{
    --hovertextcolor: #31373a;
    --bg: #fff;
    --textcolor: #0c4a6e;
    --body:#faf9f3;
    --sidemenu:rgb(231, 231, 231);
    --page:#fff;
    --video-btn:#6c7e97;
}
body{
    background-color: var(--body);
}
.cards-section{
    color: var(--textcolor);
}
.cards-section::-webkit-scrollbar {
    display: none;
}
.pagination{
    padding:10px;
    margin:15px 0;
    display: flex;
    justify-content: center;
  }
  
  .pagination > span{
    padding:15px 20px;
    border:1px solid rgb(38, 110, 158);
    border-radius: 5px;
    cursor: pointer;
    font-size: larger;
    margin: 0 5px;
  }

  @media screen and (max-width: 768px) {
    .pagination{
        overflow-x: scroll;
    }
  }
    
    @media screen and (max-width: 480px) {
        .pagination{
            overflow-x: scroll;
        }
        
    }